@use "../../Styles/style.scss" as *;

nav {
    color: white;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    @include container;

    .logo {
        img {
            height: 50px;
        }
    }

    .navlinks {
        display: flex;
        gap: 2rem;

        @include respond(lg) {
            gap: 1rem;
        }

        @include respond(md) {
            display: none;
        }

        a {
            position: relative;
            font-weight: 600;
        }

        a.active::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.499);
            height: 5px;
            width: 5px;
            border-radius: 50%;
        }
    }

    .connect {
        display: flex;
        gap: 1.5rem;

        @include respond(md) {
            display: none;
        }

        img {
            height: 40px;
        }
    }

    .hamburger {
        display: none;

        @include respond(md) {
            display: flex;
        }
    }
}