@use "../../Styles/style.scss" as *;

nav {
    width: 100%;
    color: white;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    @include container;
    transition: 0.5s;
    .logo {
        img {
            height: 50px;
        }
    }

    .navlinks {
        display: flex;
        gap: 2rem;

        @include respond(lg) {
            gap: 1rem;
        }

        @include respond(md) {
            display: none;
        }

        a {
            position: relative;
            font-weight: 600;
        }

        a.active::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.499);
            height: 5px;
            width: 5px;
            border-radius: 50%;
        }
    }

    .connect {
        display: flex;
        gap: 1.5rem;

        @include respond(md) {
            display: none;
        }

        img {
            height: 40px;
        }
    }

    .hamburger {
        display: none;

        @include respond(md) {
            display: flex;
        }
    }
}

// Styles after navbar scroll 

nav.scrolled {
    background: grey;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
}