@use "../../Styles/style.scss" as *;

.home {
    overflow: hidden;
    position: relative;
    color: white;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 100px;
    @include container;

    @include respond(sm){
        height: 80vh;
    }

    .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;

        .content {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 2rem;

            h1 {
                @include LilitaOne;
                font-size: 60px;
                letter-spacing: 7px;
                text-transform: capitalize;
                text-shadow: 2px 2px 5px black;
                font-weight: 500;
                width: 70%;

                @include respond(lg) {
                    width: 85%;
                    font-size: 50px;
                }

                @include respond(md) {
                    width: 85%;
                    font-size: 45px;
                }

                @include respond(sm) {
                    width: 100%;
                    font-size: 30px;
                    font-weight: 500;
                }
            }

            button {
                @include Button;
            }
        }

        .changeSlide {
            opacity: 0.5;
            background-color: black;
            padding: 10px;
            border-radius: 50%;

            @include respond(sm) {
                display: none;
            }

            .icon {
                font-size: 25px;
            }
        }
    }

    .indicators {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        button{
            cursor: pointer;
            opacity: 0.5;
            width: 13px;
            height:13px;
            border-radius: 50px;
            background-color: white;
            margin: 0 5px;
            border: 2px solid white;
            transition: 0.5s;
            &.active{
                border: 2px solid white;
                background-color: black;
            }  
        }
    }
}