@use "../../Styles/style.scss" as *;

.home {
    color: white;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 100px;
    @include container;

    .bg {
        position: absolute;
        z-index: -1;
        left: 0;
        height: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;

        h1 {
            @include changaOne;
            font-size: 60px;
            letter-spacing: 4px;
            text-transform: capitalize;
            text-shadow: 2px 2px 5px black;
            font-weight: 700;
            width: 70%;

            @include respond(lg) {
                width: 75%;
                font-size: 50px;
            }

            @include respond(md) {
                width: 85%;
                font-size: 45px;
            }

            @include respond(sm) {
                width: 100%;
                font-size: 30px;
                font-weight: 500;
            }
        }

        button {
            @include Button;
        }
    }

    .changeSlide {
        opacity: 0.5;
        background-color: black;
        padding: 10px;
        border-radius: 50%;

        @include respond(sm) {
            display: none;
        }

        .icon {
            font-size: 25px;
        }
    }
}