@use "../../Styles/style.scss" as *;

.about {
    margin: 80px 0;
    @include container;
    display: flex;
    align-items: stretch;
    gap: 2rem;

    .left {
        flex: 1;
        background-color: orange;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .right {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h5 {
            @include pageHead;
        }
        
        h1 {
            @include componentHeading;
        }
        p{
            color: rgba(0, 0, 0, 0.75);
        }

        .box {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .btns {
                display: flex;
                gap: 2rem;
                button {
                    position: relative;
                    text-transform: capitalize;
                    font-size: 20px;
                    font-weight: 500;

                    &.active {
                        font-weight: 700;

                        &::after {
                            content: "";
                            position: absolute;
                            background-color: rgba(0, 0, 0, 0.454);
                            height: 3px;
                            width: 100%;
                            border-radius: 10px;
                            top: 100%;
                            left: 0;
                        }
                    }
                }
            }
            .container{
                display: flex;
                .content{
                    display: flex;
                    gap: 2rem;
                    flex-direction: column;
                    flex: 1;
                    div{
                        display: flex;
                        gap: 0.5rem;
                        flex-direction: column;
                        span{
                            font-weight: 700;
                        }
                    }
                }
                img{
                    object-fit: cover;
                    flex: 1;
                    height: 250px;
                }
            }
        }
    }
}