@use "../../Styles/style.scss" as *;

.footer {
    background-color: rgb(77, 77, 77);
    color: white;

    .first {
        @include container;
        display: flex;
        align-items: start;
        gap: 3rem;
        padding-top: 30px;

        .company {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .logo {
                width: 150px;
            }

            p {
                width: 75%;
            }

            .socials {
                display: flex;
                gap: 1rem;

                img {
                    height: 30px;
                }
            }
        }

        .links {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                font-weight: 800;
                font-size: 25px;
                color: black;
            }

            li {
                list-style-type: none;
                cursor: pointer;

                &:hover {
                    color: rgb(3, 224, 3);
                }
            }
        }

        .services {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                font-weight: 800;
                font-size: 25px;
                color: black;
            }

            li {
                cursor: pointer;
                list-style-type: none;

                &:hover {
                    color: rgb(3, 224, 3);
                }
            }
        }

        .connect {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                font-weight: 800;
                font-size: 25px;
                color:black;
            }

            div {
                p {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    &:nth-child(1) {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .second {
        margin: 0;
        padding: 0;
        background-color: black;
        margin-top: 20px;
        border-top: 2px solid white;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}