@use "../../Styles/style.scss" as *;

.service {
    @include container;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            @include pageHead;
        }

        h2 {
            @include componentHeading;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        button {
            position: relative;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
            }

            .circle {
                position: absolute;
                border: 2px solid black;
                padding: 18px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .arrow {
                font-size: 35px;
                position: relative;
            }

            .leftarrow {
                left: 15px;
            }

            .rightarrow {
                right: 15px;
            }
        }

        .serviceBox {
            // border: 2px solid black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .box {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .img {
                    position: relative;
                    overflow: hidden;
                    height: 300px;

                    background-color: rgb(48, 48, 143);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .5s;
                    }

                    .imgBtn {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        padding: 10px 18px;
                        border-radius: 10px;
                        border: none;
                        background: black;
                        color: white;
                        cursor: pointer;
                        opacity: 0;
                        pointer-events: none;
                        transition: .3s;
                    }

                    &:hover img {
                        opacity: 0.8;
                        transform: scale(1.1);
                    }

                    &:hover .imgBtn {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }


                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    color: rgba(0, 0, 0, 0.65);
                }
            }
        }
    }
}