@use "../../Styles/style.scss" as *;

.service {
    @include container;
    margin: 80px 0;

    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            @include pageHead;
        }

        h2 {
            @include componentHeading;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        button {
            position: relative;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
            .circle {
                position: absolute;
                border: 2px solid black;
                padding: 18px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .arrow {
                font-size: 35px;
                position: relative;
            }
            .leftarrow{
                left: 15px;
            }
            .rightarrow{
                right: 15px;
            }
        }
        .serviceBox{
            // border: 2px solid black;
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            .box{
                border: 2px solid black;
                width: 100%;
            }
        }
    }
}