@use "./Variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

@mixin changaOne($weight:$font-weight) {
  font-family: 'Changa One', cursive;
  font-weight: $weight;
}

@mixin Button{
    background-color: orange;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

@mixin container{
  @include respond(xl) {
        padding: 30px 75px;
    }

    @include respond(lg) {
        padding: 30px;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint ==sm {
        @media (max-width:576px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width:800px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width:992px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (max-width:1200px) {
            @content;
        }
    }
    @else if $breakpoint ==xxl {
        @media (max-width:1400px) {
            @content;
        }
    }
}
