@use "./Variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lilita+One&display=swap');

@mixin LilitaOne($weight: $font-weight) {
    font-family: 'Lilita One';
    font-weight: $weight;
}

@mixin arvo($weight: $font-weight) {
    font-family: 'Arvo';
    font-weight: $weight;
}


@mixin Button {
    background-color: orange;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

@mixin container {
    padding: 10px 100px;

    @include respond(xl) {
        padding: 30px 75px;
    }

    @include respond(lg) {
        padding: 30px;
    }
}

@mixin pageHead() {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 700;
    text-transform: capitalize;
}

@mixin componentHeading() {
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 900;
}

@mixin respond($breakpoint) {
    @if $breakpoint ==sm {
        @media (max-width:576px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (max-width:800px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (max-width:992px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (max-width:1200px) {
            @content;
        }
    }

    @else if $breakpoint ==xxl {
        @media (max-width:1400px) {
            @content;
        }
    }
}